@model RxAuto.Web.ViewModels.Services.ViewModels.ServiceDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Service information</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="@Model.Name"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.Name">@Model.Name</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="@Model.ServiceType"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.ServiceType">@Model.ServiceType</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="@Model.VehicleType"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.VehicleType">@Model.VehicleType</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="@Model.IsShownInSubMenu"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.IsShownInSubMenu">@Model.IsShownInSubMenu</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="@Model.Description"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.Description">@Model.Description</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="@Model.Price"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.Price">@Model.Price</label>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-area="Administration" asp-controller="Services" asp-action="All">Back to List</a>
    <a class="btn btn-success" asp-area="Administration" asp-controller="Services" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>