@model RxAuto.Web.ViewModels.ServiceTypes.ViewModels.ServiceTypeInfoViewModel

@inject RxAuto.Services.Data.IServicesService servicesService
@inject RxAuto.Services.Data.IOperatingLocationsService operatingLocationsService

@{
    this.ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-flex justify-content-center">@Model.Name</h1>
            <p>@Model.Description</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th><label asp-for="@Model.Services.First().Name"></label></th>
                        <th><label asp-for="@Model.Services.First().VehicleType"></label></th>
                        <th><label>Необходими Документи</label></th>
                        <th><label asp-for="@Model.Services.First().Price"></label></th>
                        <th><label>Резервация</label></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.Services)
                    {
                        <tr>
                            <td>@service.Name</td>
                            <td>@service.VehicleType</td>
                            <td>
                                @{ string key = service.Name.ToString(); }

                                <a class="btn btn-primary" data-toggle="collapse" href="#key" role="button" aria-expanded="false" aria-controls="key">
                                    Виж
                                </a>
                                <div class="collapse" id="key">
                                    <div class="card card-body">
                                        <ul>
                                            @if (service.Documents.Count() == 0)
                                            {
                                                <li style="list-style-type:square;">Не са нужни документи</li>
                                            }
                                            @foreach (var document in service.Documents)
                                            {
                                                <li style="list-style-type:square;">@document.Name</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>@service.Price лв.</td>
                            <td>
                                @{ //PARTIAL VIEW TAKES ONLY THE FIRST SENT MODEL, DESPITE THE FACT THAT HERE WE SEND DIFFERENT ONES

                                    var testModel = new RxAuto.Web.ViewModels.Reservations.InputModels.ReservationInputModel();
                                    testModel.ServiceId = service.Id;

                                    var currentService = servicesService.GetById(service.Id);
                                    var currentOpLocs = currentService.OperatingLocationIds.OrderBy(x => x).ToList();

                                    var modalOperatingLocations = new List<RxAuto.Web.ViewModels.OperatingLocations.ViewModels.OperatingLocationsDropdownViewModel>();

                                    @foreach (var opLocId in currentOpLocs)
                                    {
                                        var x = operatingLocationsService.GetById(opLocId);
                                        modalOperatingLocations.Add(new RxAuto.Web.ViewModels.OperatingLocations.ViewModels.OperatingLocationsDropdownViewModel
                                        {
                                            Id = x.Id,
                                            Town = x.Town,
                                            Address = x.Address,
                                        });
                                    }

                                    testModel.OperatingLocations = modalOperatingLocations;
                                }

                                <partial name="_ReservationModalForm" model="testModel" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
