@model RxAuto.Web.ViewModels.Documents.ViewModels.DeleteDocumentViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this document? Bear in mind that every service's list of documents will loose that document.</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="@Model.Name"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.Name">@Model.Name</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="@Model.Description"></label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="@Model.Description">@Model.Description</label>
        </dd>
    </dl>

    <form method="post" asp-controller="Documents" asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="All">Back to List</a>
    </form>
</div>
