@model RxAuto.Web.ViewModels.Employees.ViewModels.EmployeeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-flex justify-content-center">Детайли</h1>
            <hr />
            <h4>Информация за служител</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    <label asp-for="@Model.FullName"></label>
                </dt>
                <dd class="col-sm-10">
                    <label asp-for="@Model.FullName">@Model.FullName</label>
                </dd>
                <dt class="col-sm-2">
                    <label asp-for="@Model.OperatingLocation"></label>
                </dt>
                <dd class="col-sm-10">
                    <label asp-for="@Model.OperatingLocation">@Model.OperatingLocation</label>
                </dd>
                <dt class="col-sm-2">
                    <label asp-for="@Model.JobPosition"></label>
                </dt>
                <dd class="col-sm-10">
                    <label asp-for="@Model.JobPosition">@Model.JobPosition</label>
                </dd>


                <dt class="col-sm-2">
                    <label asp-for="@Model.ImageUrl"></label>
                </dt>
                <dd class="col-sm-10">
                    <label asp-for="@Model.ImageUrl">@Model.ImageUrl</label>
                </dd>


                <dt class="col-sm-2">
                    <label asp-for="@Model.HomeAddress"></label>
                </dt>
                <dd class="col-sm-10">
                    <label asp-for="@Model.HomeAddress">@Model.HomeAddress</label>
                </dd>
                <dt class="col-sm-2">
                    <label asp-for="@Model.PhoneNumber"></label>
                </dt>
                <dd class="col-sm-10">
                    <label asp-for="@Model.PhoneNumber">@Model.PhoneNumber</label>
                </dd>
                <dt class="col-sm-2">
                    <label asp-for="@Model.Email"></label>
                </dt>
                <dd class="col-sm-10">
                    <label asp-for="@Model.Email">@Model.Email</label>
                </dd>
            </dl>

            <a class="btn btn-success" asp-area="Administration" asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.Id">Промени</a>
            <a class="btn btn-info" asp-area="Administration" asp-controller="Employees" asp-action="All">Върни се обратно</a>
        </div>
    </div>
</div>
